server:
  port: 8081

spring:
  application:
    name: auth-service

  profiles: docker

  data:
    mongodb:
      uri: mongodb://mongo:27017/authdb

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka

jwt:
  secret: my-super-secret-key
  expiration: 86400000
