server:
  port: 8084

spring:
  application:
    name: auth-service

  data:
    mongodb:
      uri: mongodb://mongodb:27017/auth_db

jwt:
  secret: mySecretKeyForJWTTokenGenerationAndValidationMustBeLongEnough1234567890
  expiration: 86400000

management:
  endpoints:
    web:
      exposure:
        include: health,info
