server:
  port: 8092

spring:
  application:
    name: notification-service

  rabbitmq:
    host: rabbitmq-broker
    port: 5672
    username: guest
    password: guest

rabbitmq:
  exchange: booking.exchange
  routing-key: booking.key
  queue: booking.queue

management:
  endpoints:
    web:
      exposure:
        include: health,info
