version: "3.9"

services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-net

  rabbitmq-broker:
    image: rabbitmq:3-management
    container_name: rabbitmq-broker
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-net

  config-server-test:
    build:
      context: ./config-server
    container_name: config-server-test
    ports:
      - "8888:8888"
    environment:
      SPRING_PROFILES_ACTIVE: native
      SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS: file:/config-repo
    volumes:
      - C:/Workspaces/Chubb_Workspace/flight-config-repo:/config-repo:ro
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8888/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - app-net

  eureka-server:
    build:
      context: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    depends_on:
      config-server:
        condition: service_healthy
    networks:
      - app-net

  flight-service:
    build:
      context: ./flight-service
    container_name: flight-service
    ports:
      - "8090:8090"
    depends_on:
      config-server:
        condition: service_healthy
    networks:
      - app-net

  booking-service:
    build:
      context: ./booking-service
    container_name: booking-service
    ports:
      - "8091:8091"
    depends_on:
      config-server:
        condition: service_healthy
    networks:
      - app-net

  notification-service:
    build:
      context: ./notification-service
    container_name: notification-service
    ports:
      - "8092:8092"
    depends_on:
      config-server:
        condition: service_healthy
    networks:
      - app-net

  api-gateway:
    build:
      context: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      config-server:
        condition: service_healthy
    networks:
      - app-net

networks:
  app-net:

volumes:
  mongo_data:
