version: "3.8"

services:

  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-net

  rabbitmq-broker:
    image: rabbitmq:3-management
    container_name: rabbitmq-broker
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-net

  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "8888:8888"
    environment:
      SPRING_PROFILES_ACTIVE: native
      SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS: file:/config-repo
    volumes:
      - C:/Workspaces/Chubb_Workspace/flight-config-repo:/config-repo:ro
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8888/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - app-net

  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
    - "8761:8761"
    environment:
      SPRING_CLOUD_CONFIG_ENABLED: "false"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
    - app-net

  flight-service:
    build: ./flight-service
    container_name: flight-service
    ports:
      - "8090:8090"
    environment:
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8888
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://eureka-server:8761/eureka
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/flights_micro_db
      SPRING_RABBITMQ_HOST: rabbitmq-broker
    depends_on:
      eureka-server:
        condition: service_healthy
      mongodb:
        condition: service_started
      rabbitmq-broker:
        condition: service_started
    networks:
      - app-net

  booking-service:
    build: ./booking-service
    container_name: booking-service
    ports:
      - "8091:8091"
    environment:
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8888
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://eureka-server:8761/eureka
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/flights_micro_db
      SPRING_RABBITMQ_HOST: rabbitmq-broker
    depends_on:
      eureka-server:
        condition: service_healthy
    networks:
      - app-net

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "8092:8092"
    environment:
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8888
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://eureka-server:8761/eureka
      SPRING_RABBITMQ_HOST: rabbitmq-broker
    depends_on:
      eureka-server:
        condition: service_healthy
    networks:
      - app-net

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8888
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://eureka-server:8761/eureka
    depends_on:
      eureka-server:
        condition: service_healthy
    networks:
      - app-net

networks:
  app-net:

volumes:
  mongo_data:
