server:
  port: 8080

spring:
  application:
    name: api-gateway

  profiles: docker

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**

        - id: flight-service
          uri: lb://flight-service
          predicates:
            - Path=/flight/**
          filters:
            - JwtAuthenticationFilter

        - id: booking-service
          uri: lb://booking-service
          predicates:
            - Path=/booking/**
          filters:
            - JwtAuthenticationFilter

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka

jwt:
  secret: my-super-secret-key
