server:
  port: 8083

spring:
  application:
    name: booking-service

  profiles: docker

  data:
    mongodb:
      uri: mongodb://mongo:27017/bookingdb

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
